*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build folders
build/
app/build/
editor-asset/build/

# Large files
*.apk
*.aar
*.bundle
*.jar

# Cache data
.CacheData/

