# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs & OS files
*.log
.DS_Store

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
output.json

# Spotless
.spotless/
